.button_div{
    position: relative;
    height: 70px;
}
.button_div .addition{
    position: absolute;
    top: 30px;
    background-color: rgb(127, 255, 178);
    border: none;
    height: 80px;
    width: 80px;
    font-size: 40px;
    border-radius: 50%;
    opacity: 1;
}
input[type="text"]{
    background-color: #f8f9fa;
    border-width: 0 0 1px 0;
    border-color:  rgb(174, 173, 173) !important;
    outline: none;
}
#warning{
    display: none;
}
